<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../styles/taraama.css">
</head>
<body>
  <div class="page1">
    <img class="topofimg" src="../images/palamathi.png" alt="">
    <p class="Desc"><b class="tara">PALAMATHI HILLS</b><br />
    <b>Ratings:⭐⭐⭐</b><br />
    <b>About:</b>
    The Palamathi Hills are an extension of the Eastern Ghats <br />
    spread across southeastern parts of Vellore City in Tamil Nadu.
    </p>
    <div class="add">
      <a href="review.html">Add your own review</a>
    </div>
  </div>

  </div>
</body>
</html>