<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  href="../styles/taraama.css">
</head>
<body>
  <div class="page1">
    <img class="topofimg" src="../images/tarama_d.png" alt="">
    <p class="Desc"><b class="tara">TARA MA</b><br />
    <b>Ratings:⭐⭐⭐⭐</b><br />
    <b>Service Option:</b>
    Dine-in · Drive-through · No-contact delivery<br />
    <b>Address</b><br />
    Kangayanellore Rd, Vaibhav Nagar,
    Katpadi, Vellore, Tamil Nadu 632014<br />
    <b>Hours</b><br />
    Open Closes 10pm<br />
    <b>Phone:</b><br />
    3245467865<br />
    <b>Star Item</b><br />
    Butter Chicken

    </p>
    <div class="add">
      <a href="./review_places.html">Add your own review</a>
    </div>
  </div>

  </div>
</body>
</html>