<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../styles/taraama.css">
</head>
<body>
  <div class="page1">
    <img class="topofimg" src="../images/zaitoon.png" alt="">
    <p class="Desc"><b class="tara">ZAITOON</b><br />
    <b>Ratings:⭐⭐⭐</b><br />
    <b>Service Option:</b>
    Dine-in · Drive-through · No-contact delivery<br />
    <b>Address</b><br />
    1st floor, Selvam Square, Tiruvalam Rd,
    Selvam Nagar, Katpadi, Vellore, Tamil Nadu 632007<br />
    <b>Hours</b><br />
    Open Closes 11pm<br />
    <b>Phone:</b><br />
    6785984376<br />
    <b>Star Item</b><br />
    Barbeque Chicken

    </p>
    <div class="add">
      <a href="../views/review_places.html">Add your own review</a>
    </div>
  </div>

  </div>
</body>
</html>